.App {
  text-align: center;
  background-color: darkkhaki;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cv-sections {
  width: max-content;
  margin: auto;
  margin-top: "8px";
  color: green;
  background-color: silver;
}

.cv-display {
  width: 56vw;
  margin: auto;
  margin-top: 38px;
  background-color: darkseagreen;
}

.cv-display legend {
  color: maroon;
}

.cv-display p {
  color: #282c34;
  display: flex;
  justify-content: space-around;
}
.cv-display p span {
  width: 62%;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
